
*{
	margin: 0px;
	padding: 0px;
}

header{
    box-shadow: 0 5px 10px #999;
  background: #FFFFFF;
}

h1{
	font-weight: bold;
	font-size: 30px;
	}

#fondo{
  	background: #7DCEA0;
}
#hd{
  background: #FFFFFF;
}
#cuenta{
  text-align: center;
  padding-top: 5px;
}
.imgAviso{
 	padding: 10px;
	 margin: 10px;
	 border: 2px solid black;
	 float: right;
	 width: 250px;
	 width: 300px;
		margin: 0 auto 0 auto;

}
#columna{
	background: #F5B041;
	float: left;
	width: 500px;
	margin: 40px 0px;
	padding: 10px;
	border-radius: 30px/30px;
  text-align: left;
	-moz-border-radius:10px/30px/30px;
	-webkit-border-radius:30px/30px/30px;
	border-radius:  20px;
	-moz-box-shadow: rgb(150,150,150)5px 5px 10px;
	-webkit-box-shadow: rgb(150,150,150)5px 5px 10px;
	box-shadow: rgb(150,150,150) 5px 5px 10px;
	background: -webkit-radial-gradient(center,circle,#F7DC6F 30% ,#E67E22 100%  );
	background: -moz-radial-gradient(center,circle,#F7DC6F 10%,#E67E22 150%);
}
#pie{
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #999999;
}
#modal1{
	/*background: #F5B041;*/
	border-radius: 30px/30px;
  text-align: left;
	-moz-border-radius:10px/30px/30px;
	-webkit-border-radius:30px/30px/30px;
	border-radius:  20px;
	-moz-box-shadow: rgb(150,150,150)5px 5px 10px;
	-webkit-box-shadow: rgb(150,150,150)5px 5px 10px;
	box-shadow: rgb(150,150,150) 5px 5px 10px;
	background: -webkit-radial-gradient(center,circle,   #e5e8e8    30% , #f5b041  100%  );
	background: -moz-radial-gradient(center,circle,   #e5e8e8    10%, #f5b041  150%);
}
#modal2{
	/*background: #F5B041;*/
	border-radius: 30px/30px;
  text-align: left;
	-moz-border-radius:10px/30px/30px;
	-webkit-border-radius:30px/30px/30px;
	border-radius:  20px;
	-moz-box-shadow: rgb(150,150,150)5px 5px 10px;
	-webkit-box-shadow: rgb(150,150,150)5px 5px 10px;
	box-shadow: rgb(150,150,150) 5px 5px 10px;
	background: -webkit-radial-gradient(center,circle,   #f0f3f4    30% , #28b463  100%  );
	background: -moz-radial-gradient(center,circle,  #f0f3f4    10%, #28b463  150%);
}
#modal3{
	/*background: #F5B041;*/
	border-radius: 30px/30px;
  text-align: left;
	-moz-border-radius:10px/30px/30px;
	-webkit-border-radius:30px/30px/30px;
	border-radius:  20px;
	-moz-box-shadow: rgb(150,150,150)5px 5px 10px;
	-webkit-box-shadow: rgb(150,150,150)5px 5px 10px;
	box-shadow: rgb(150,150,150) 5px 5px 10px;
	background: -webkit-radial-gradient(center,circle, #d2b4de  30% , #e74c3c  100%  );
	background: -moz-radial-gradient(center,circle, #d2b4de  10%, #e74c3c  150%);
}
#modal4{
	/*background: #F5B041;*/
	border-radius: 30px/30px;
  text-align: left;
	-moz-border-radius:10px/30px/30px;
	-webkit-border-radius:30px/30px/30px;
	border-radius:  20px;
	-moz-box-shadow: rgb(150,150,150)5px 5px 10px;
	-webkit-box-shadow: rgb(150,150,150)5px 5px 10px;
	box-shadow: rgb(150,150,150) 5px 5px 10px;
	background: -webkit-radial-gradient(center,circle, #ccd1d1  30% , #3498db  100%  );
	background: -moz-radial-gradient(center,circle, #ccd1d1  10%, #3498db  150%);
}
