
<div class="modal fade" tabindex="-1" role="dialog" id="inicioSesion">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id ="usuario">
      <div class="modal-header">
        <h4 class="modal-title" id="msnInicio">Iniciar sesion</h4>
      </div>
      <div class="modal-body">
          <form class= "from-horizontal" id="formu-inicio">
            <div class="form-group">
              <label for="InputEmail1">Correo</label>
              <input type="email" class="form-control" id="InputEmail1" placeholder="ejemplo@gmail.com" required  name="usuario">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" id="InputPassword1" placeholder="*********" required name="password">
            </div>
              <input type="hidden" name="tipoOperacion" value="inicioSesion">
            <div class = "form-group">
              <div class="col-offset-2 col-sml-10">
                <button type="submit" class="btn btn-primary">Iniciar</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="Registrarme">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id ="usuario">
      <div class="modal-header">
        <h4 class="modal-title" id ="msnEstadoRegistro">Ingrese sus datos</h4>
      </div>
      <div class="modal-body">
          <form class = "form-horizontal" id= "formu-registro">
            <div class="form-group">
              <label for="InputNombre1"> Nombre</label>
              <input type="text" class="form-control" id="InputNombre1" placeholder="Nombre" required name= "txtNombre">
            </div>
            <div class="form-group">
              <label for="InputApellido1"> Apellido</label>
              <input type="text" class="form-control" id="InputApellido1" placeholder="Apellido" required name= "txtApellido">
            </div>
            <div class="form-group">
              <label for="InputTelefono1"> Telefono</label>
              <input type="text" class="form-control" id="InputTelefono1" placeholder="01010101" required name = "txtFono">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1"> Correo</label>
              <input type="email" class="form-control" id="InputEmail2" placeholder="ejemplo@gmail.com" required name = "emailCorreo">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1"> Contraseña</label>
              <input type="password" class="form-control" id="InputPassword2" placeholder="**********" required name ="passPassword">
            </div>
            <input type="hidden" name="tipoOperacion" value="registrarUsuario">
            <button type="submit" class="btn btn-default">Registrarme</button>
          </form>
      </div>
    </div>
  </div>
</div>
